# =========================
# .NET
# =========================

bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# =========================
# Node
# =========================

node_modules/
dist/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db